.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5EFEA;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* This centers the main element horizontally */
  padding: 0; /* This removes any default padding */
  box-sizing: border-box; 
}

/* TEXT CONTAINERS */

.textContainer {
  width: 70%;
  margin: 45px auto 65px auto;
}

.textContainer h1 {
  color: #28473B;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: left;
  margin-bottom: 15px;
}

.textContainer p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  text-align: left;
}

.separator {
  margin-top: 65px;
}

/* FLOURISH */

.flourishEmbed {
  text-align: center;
}

/* BANNER */
.banner {
  position: relative;
  width: 100%;
  height: 615px; /* Adjust this value as needed */
  background-image: url('/banner.png'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
}

.bannerText {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  top: 85%;
  left: 24.5%;
  transform: translate(-50%, -50%);
  color: white;
}

.bannerLogo {
  position: absolute;
  top: 77%;
  left: 21%;
  transform: translate(-50%, -75%); /* Adjust this value as needed */
  width: auto; /* Adjust this value as needed */
  height: auto;
}

.bannerLogo img {
  height: 100%;
}

/* GRAPH IMAGE */

.graphImage img {
  width: 100%;
}